SUPABASE_URL=https://mlqcadfkyeayrmdenowg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1scWNhZGZreWVheXJtZGVub3dnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ5ODY0NjEsImV4cCI6MjA4MDU2MjQ2MX0.ZrvgCOzcPQATpXIRUi95-pF07MKuBwvyNgVMn04z1sA


NODE_ENV=development
LOG_LEVEL=debug
PORT=3000
HOST=0.0.0.0

STRIPE_API_KEY=STRIPE_API_KEY
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=PAYPAL_CLIENT_ID
PAYPAL_CLIENT_SECRET=PAYPAL_CLIENT_SECRET
PAYPAL_CURRENCY=USD


REDIS_URL=redis://localhost:6379

ALLOWED_API_KEYS=key1,key2,key3

CORS_ORIGIN=*
API_HOST=localhost:3000
API_SCHEME=http
